/* Arrows */
.slick-prev, .slick-next {
    display: none !important;
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 20px;
}

.slick-dots {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    height: 7px;
}

.slick-dots li button {
    color: transparent;
    font-size: 0;
    padding: 0 1.5px;
    width: 7px !important;
    height: 7px !important;
    margin: 2px !important;
    border-radius: 100%;
    background-color: #D8D8D8;
    text-align: center;
    display: block;
}

.slick-dots li.slick-active button {
    background-color: #730EA6 !important;
}
