:root {
  line-height: 1.5;
  color: white;
  /*todo*/
  background-color: black;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif !important;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none !important;
}

button {
  border: none;
  border-radius: 50rem;
  font-weight: 400;
  cursor: pointer;
  background: none;
}

b {
  font-weight: 600;
}

.list-unstyled {
  list-style: none;
}

.title-md {
  font-size: 50px;
  font-weight: 600;
  line-height: 130%;
}

.btn-txt {
  font-size: 20px;
  line-height: normal;
}

.pointer {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap !important;
}

.uppercase {
  text-transform: uppercase !important;
}

._underline:hover {
  text-decoration: underline !important;
}

.bg-info {
  background-color: aqua;
}

.bg-warning {
  background-color: orange;
}

@media screen and (max-width:1199px) {
  .title-md {
    font-size: 35px;
  }

  .btn-txt {
    font-size: 17px;
  }
}
@media screen and (max-width:575px) {
  .title-md {
    font-size: 24px;
  }

  .btn-txt {
    font-size: 15px;
  }
}

