:root {
  line-height: 1.5;
  color: white;
  /*todo*/
  background-color: black;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif !important;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1, h2, h3, p {
  margin: 0;
}

button {
  border: none;
  border-radius: 50rem;
  font-weight: 400;
  cursor: pointer;
  background: none;
}

a {
  text-decoration: none !important;
}

b {
  font-weight: 600;
}

.list-unstyled {
  list-style: none;
}

.radius-border {
  border-radius: 100px;
}

.title-xl {
  font-size: 60px;
  font-weight: 600;
  line-height: 130%;
}

.title-lg {
  font-size: 50px;
  font-weight: 600;
  line-height: 130%;
}

.title-sm, .title-md {
  font-size: 40px !important;
  font-weight: 700;
  line-height: normal;
}

.text-lg {
  font-size: 24px !important;
  font-weight: 500;
  line-height: 130%;
}

.text-md {
  font-size: 20px !important;
  font-weight: 400;
}

.text-sm {
  font-size: 18px !important;
  font-weight: 400;
  line-height: 130%;
}

.video-content video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  inset: 0;
  pointer-events: none;
}

.video-content .__box {
  margin-top: 40vh;
  position: relative;
  z-index: 1;
}

.video-content .__box .__btn {
  color: white;
  transition: background-color .3s;
  padding: 13px 95px;
  border-radius: 50rem;
}

/*-----------*/
.btn-txt {
  font-size: 20px;
  line-height: normal;
}
/*-----------*/

.pointer {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap !important;
}

.uppercase {
  text-transform: uppercase !important;
}

._underline:hover {
  text-decoration: underline !important;
}

.bg-info {
  background-color: aqua;
}

.bg-warning {
  background-color: orange;
}

@media screen and (max-width:1199px) {
  .radius-border {
    border-radius: 75px;
  }

  .title-xl {
    font-size: 40px;
  }

  .title-lg {
    font-size: 35px;
  }

  .title-sm, .title-md {
    font-size: 30px !important;
  }

  .text-lg {
    font-size: 20px !important;
  }

  .text-md {
    font-size: 17px !important;
  }

  .text-sm {
    font-size: 16px !important;
  }

  .video-content .__box {
    margin-top: 45vh;
  }

  /*-----------*/
  .btn-txt {
    font-size: 17px;
  }
  /*-----------*/
}
@media screen and (max-width:575px) {
  .radius-border {
    border-radius: 50px;
  }

  .title-lg, .title-xl, .title-md {
    font-size: 24px;
  }

  .title-sm {
    font-size: 20px !important;
  }

  .text-md, .text-sm, .text-lg {
    font-size: 15px !important;
  }

  .video-content .__box .__btn {
    padding: 8px 58px;
  }



  /*-----------*/
  .btn-txt {
    font-size: 15px;
  }
  /*-----------*/
}

