@font-face {
  font-family: 'myriad';
  src: url('./assets/fonts/MyriadPro/myriadpro-bold-webfont.woff2') format('woff2'),
  url('./assets/fonts/MyriadPro/myriadpro-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'myriad';
  src: url('./assets/fonts/MyriadPro/myriadpro-regular-webfont.woff2') format('woff2'),
  url('./assets/fonts/MyriadPro/myriadpro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {
  line-height: 1.5;
  color: white;
  /*todo*/
  background-color: black;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif !important;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none !important;
}

button {
  border: none;
  border-radius: 50rem;
  font-family: myriad, sans-serif;
  font-weight: 400;
  cursor: pointer;
}


.bg-info {
  background-color: aqua;
}

.bg-warning {
  background-color: orange;
}
